<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:15px; padding:50px;">
    <%- include('partials/_header') %>
    <table>
      <tr>
        <td width=250px><b>Full URL:</b></td>
        <td width=100px><b>Short form:</b></td>
        <td width=400px></td>
      </tr>
      <tr>
        <td><%= fullURL %></td>
        <td><%= shortURL %></td>
        <td>
        <form action="/urls/<%= shortURL%>" method="POST">
          <input id="longURL" type="text" name="newLongURL" style="width: 300px">
          <input type="submit" value="Update">
          </form>
        </td>
      </tr>
      <tr>
        <td colspan=4 height="50px"><a href="/urls">Return</a></td>
      </tr>
    </table>



  </body>
</html>
