<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include('partials/_header') %>
    <ul>
      <% for(element in urls) {%>
        <li><b>Full URL:</b> <%= urls[element] %> - <b>Short form:</b> <a href=""><%= element%></a></li>
      <% } %>
    </ul>
  </body>
</html>

