<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <li><b>URL - Short form:</b></li>
    <% for(element in urls) {%>
      <li> <%= urls[element] %> - <a href=""><%= element%></a></li>
    <% } %>


</body>
</html>