<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size: 15px; padding: 20px;">
    <% include partials/_header %>
    <table style="border: 1px solid gray;">
      <tr>
        <td width=480px;>
          <form action="/urls" method="POST" style="margin: 10px;">
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit">
          </form>
        </td>
      </tr>
    </table>
    <div style="margin-left: 10px; margin-top: 50px;">
      <a href="/urls">Return</a>
    </div>
  </body>
</html>
